{#
/**
 * @file
 * Default theme implementation for the css grid layout plugin.
 *
 * Renders all grid columns and rows.
 *
 * @ingroup themeable
*/
#}

{% set cells = settings.grid_cells %}

<section{{ attributes }}>
  {% for i in range(1, cells) %}
    <section {{ region_attributes["content_#{i}"].addClass('layout-inner-content') }}>
      {{ content["content_#{i}"] }}
    </section>
  {% endfor %}
</section>
